
.icon-left-dir:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
